@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap')
@import "./tailwind.sass"

body
  background: #f1ebeb
  min-height: 100vh

#app, .content
  min-height: 100vh

.active-link
  position: relative

  &:before
    content: ''
    position: absolute
    top: 21px
    left: 5px
    background: #775da6
    width: 5px
    height: 5px
    border-radius: 2.5px



h1, h2, h3, h4, h5, h6,
a,
p
  font-family: "Inter", sans-serif
